<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.kuleuven.intents">
    <!-- specify these so that you can ask for permissions an do your stuff. -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--
        the following line is NOT needed if we use an implicit intent
        because an external app with permissions handles the camera for us
    <uses-permission android:name="android.permission.CAMERA" />
    -->

    <!-- specify these so that the App Store knows what you're up to. -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login">
        <activity
            android:name="be.kuleuven.intents.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>